.project-cover {
    width: 100%;
    height: 100vh;
    padding-top: calc(var(--nav-wrap-h) + var(--layout-gutter-m));
    padding-bottom: var(--layout-gutter-l);
    padding-inline: var(--layout-gutter-l);    
}

@supports (height: 100svh) {
    .project-cover { height: 100svh; }
}

@supports (height: 100dvh) {
    .project-cover { height: 100dvh; }
}

    .project-cover__wrapper {
        width: 100%;
        height: 100%;
        padding: var(--layout-gutter-xl);
        border-radius: var(--radius-m);

        display: flex;
        justify-content: center; 
        align-items: center;
    }

    .project-cover__wrapper--1 {
        background-color: var(--brunswick-color-project1);
    }

    .project-cover__wrapper--2 {
        background-color: var(--amaranto-color-project2);
    }

    .project-cover__wrapper--3 {
        background-color: var(--night-color-project3);
    }

        .project-cover__image {
            display: block;
            max-width: 100%;
            max-height: 100%;
            width: auto;
            height: auto;
            object-fit: contain;
        }

/* ================================ max-width 900px ================================ */

@media screen and (max-width: 900px) {

    .project-cover {
        padding-bottom: var(--layout-gutter-m);
        padding-inline: var(--layout-gutter-m); 
        height: 60vh;
    }

    .project-cover__wrapper {
        padding: var(--layout-gutter-m);
    }
}

/* ================================ max-width 600px ================================ */

@media screen and (max-width: 600px) {

    .project-cover {
        padding-bottom: var(--layout-gutter-xs);
        padding-inline: var(--layout-gutter-xs); 
    }

    .project-cover__wrapper {
        padding: var(--layout-gutter-m);
    }
}