.project-card {
    width: 100%;
    padding: var(--gap-m);
    
    display: flex;
    flex-direction: row;
    gap: var(--gap-xl);
}

    .project-card__wrapper {
        flex: 1;
    }

        .project-card__wrapper--content {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }

            .project-card__index-wrap {
                padding-bottom: var(--gap-m);
            }

                .project-card__index {
                    font-size: var(--h6);
                }

            .project-card__body {
                display: flex;
                flex-direction: column;
                gap: var(--gap-s);
            }

                .project-card__title {
                    font-size: var(--h3);
                }

                .project-card__description {
                    font-size: var(--h5);
                }

        .project-card__wrapper--media {
            border-radius: var(--radius-m);
            overflow: hidden;
        }

        .project-card__image,
        .project-card__image img {
            width: 100%;
            height: 100%;
            display: block;
        }

        .project-card__image img {
            object-fit: cover;
        }

/* ================================ max-width 1200px ================================ */

@media screen and (max-width: 1200px) {

.project-card {
    gap: var(--gap-s);
}
}

/* ================================ max-width 900px ================================ */

@media screen and (max-width: 900px) {

.project-card {
    padding: var(--gap-m) var(--gap-s);
    flex-direction: column-reverse;
}

.project-card__title {
    font-size: var(--h2);
}
}

/* ================================ max-width 600px ================================ */

@media screen and (max-width: 600px) {

    .project-card {
        padding: var(--gap-s) 0;
    }
}