/*------------------------------------*\

$OVERVIEW

\*------------------------------------*/

    .overview__container {
        width: 100%;
        height: 100%;
    }

        .overview__logo{
            position: relative;
            top: var(--gap-xs);
            left: calc(var(--layout-gutter-xl) + 5%);
            max-width: 150px;
            aspect-ratio: 1;
        }

        .overview__details {
            padding-inline: var(--layout-gutter-xl);          
        }

            .overview__list {
                border: 2px solid var(--color-accent);
                border-radius: var(--radius-m);
                overflow: hidden;
                display: grid;
                grid-template-areas: 
                    "name       name"
                    "type       type"
                    "duration   role"
                    "tools      tools";                            
            }

                .overview__item--name {grid-area: name;}
                .overview__item--type {grid-area: type;}
                .overview__item--time {grid-area: duration;}
                .overview__item--role {grid-area: role;}
                .overview__item--tools {grid-area: tools;}

                .overview__item--name,
                .overview__item--type,
                .overview__item--time,
                .overview__item--role {
                    border-bottom: 2px solid var(--color-accent);
                }

                .overview__item--time {
                    border-right: 2px solid var(--color-accent);
                }

                .overview__item {
                    padding: var(--gap-xs);

                    display: flex;
                    flex-direction: column;
                    gap: var(--gap-xs);
                }

                    .overview__label {
                        font-size: var(--text-m);
                        text-transform: uppercase;
                    }

                    .overview__value {
                        font-size: var(--h6);
                        font-weight: 700;
                    }

/* ================================ max-width 1200px ================================ */

@media screen and (max-width: 1200px) {
    .overview__details {
        padding-inline: var(--layout-gutter-l);
    }

    .overview__logo{
        left: calc(var(--layout-gutter-l) + 5%);
    }
}

/* ================================ max-width 900px ================================ */

@media screen and (max-width: 900px) {
    .overview__details {
        padding-inline: var(--layout-gutter-m);
    }

    .overview__logo{
        left: calc(var(--layout-gutter-m) + 5%);
    }
}


/* ================================ max-width 600px ================================ */

@media screen and (max-width: 600px) {
    .overview__details {
        padding-inline: var(--layout-gutter-xs);
    }

    .overview__logo{
        left: calc(var(--layout-gutter-xs) + 5%);
    }
}