/*------------------------------------*\

$OVERVIEW

\*------------------------------------*/

    .overview__container {
        width: 100%;
        height: 100%;
    }

        .overview__logo{
            position: relative;
            top: var(--gap-xs);
            left: var(--gap-xxl);
            max-width: 150px;
            aspect-ratio: 1;
        }

        .overview__details {
            padding-inline: var(--layout-gutter-xl);          
        }

            .overview__list {
                border: 2px solid var(--color-accent);
                display: grid;
                grid-template-areas: 
                    "name       name"
                    "type       type"
                    "duration   role"
                    "tools      tools";                            
            }

                .overview__item--name{grid-area: name;}
                .overview__item--type{grid-area: type;}
                .overview__item--duration{grid-area: duration;}
                .overview__item--role{grid-area: role;}
                .overview__item--tools{grid-area: tools;}

                .overview__item {
                    border: 2px solid var(--color-accent);
                    padding: var(--gap-xs);

                    display: flex;
                    flex-direction: column;
                    gap: var(--gap-xs);
                }

                    .overview__label {
                        font-size: var(--text-m);
                        text-transform: uppercase;
                    }

                    .overview__value {
                        font-size: var(--h6);
                    }