.project-card {
    width: 100%;
    padding: var(--gap-m);
    background-color: var(--color-accent);
    color: var(--color-text);
    border-radius: var(--radius-m);
    
    display: flex;
    flex-direction: row;
    gap: var(--gap-xxl);
}

    .project-card__wrapper {
        flex: 1;
    }

        .project-card__wrapper--content {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }

                .project-card__index {
                    font-size: var(--h6);
                }

            .project-card__body {
                display: flex;
                flex-direction: column;
                gap: var(--gap-s);
            }

                .project-card__title {
                    font-size: var(--h2);
                }

                .project-card__description {
                    font-size: var(--h5);
                }

        .project-card__wrapper--media {
            border-radius: var(--radius-m);
            overflow: hidden;
        }

            .project-card__image {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

/* ================================ max-width 600px ================================ */

@media screen and (max-width: 600px) {

    .project-card {
        padding: var(--gap-s) 0;
        flex-direction: column;
    }
}