.skill-card {
    width: 100%;
}

    .skill-card__wrapper {
        border-top: 1px solid var(--color-accent);
        padding: var(--gap-s);

        display: flex;
        flex-direction: row;
    }

    .skill-card__wrapper--lastest {
        border-bottom: 1px solid var(--color-accent);
    }

    .skill-card__wrapper {
        border-top: 1px solid var(--color-accent);
        padding: var(--gap-s);

        display: flex;
        flex-direction: row;
    }

        .skill-card__index {
            width: calc(100% / 3);
            font-size: var(--text-xxl);
            font-weight: 700;
            color: var(--color-accent);
        }

        .skill-card__content {
            width: calc((100% / 3)*2);
        }

            .skill-card__title {
                font-size: var(--text-xxl);
            }

            .skill-card__description {
                font-size: var(--text-s);
            }

/* ================================ max-width 800px ================================ */

@media screen and (max-width: 800px) {

    .skill-card__title {
        font-size: var(--text-xl);
    }
}

/* ================================ max-width 600px ================================ */

@media screen and (max-width: 600px) {

    .skill-card__wrapper {
        padding: var(--gap-s) 0;
        flex-direction: column;
    }

    .skill-card__content {
        width: 100%;
    }
}