.skill-card {
    width: 100%;
    border-top: 1px solid var(--color-accent);
    padding: var(--gap-s);

    display: flex;
    flex-direction: row;
}

.skill-card--lastest {
    border-bottom: 1px solid var(--color-accent);
}

    .skill-card__index {
        width: calc(100% / 3);
        font-size: var(--h1);
        font-weight: 700;
        color: var(--color-accent);
    }

    .skill-card__content {
        width: calc((100% / 3)*2);
    }

        .skill-card__title {
            font-size: var(--h2);
        }

        .skill-card__description {
            font-size: var(--h5);
        }

/* ================================ max-width 800px ================================ */

@media screen and (max-width: 800px) {

    .skill-card__title {
        font-size: var(--h2);
    }
}

/* ================================ max-width 600px ================================ */

@media screen and (max-width: 600px) {

    .skill-card {
        padding: var(--gap-s) 0;
        flex-direction: column;
    }

    .skill-card__content {
        width: 100%;
    }
}