.projects {
    padding-block: calc(var(--nav-wrap-h) + var(--gap-l));
    padding-inline: var(--layout-gutter-xl);
    width: 100%;
    
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title__section,
.projects__wrapper {
    max-width: var(--w-100);
    width: 100%;
}

    .projects__wrapper {
        padding-top: var(--gap-l);
    }

        .project__wrapper {
            border-top: 1px solid var(--color-accent);
        }

        .project__wrapper--lastest {
            border-bottom: 1px solid var(--color-accent);
        }

/* ================================ max-width 1200px ================================ */

@media screen and (max-width: 1200px) {
    .projects {
        padding-inline: var(--layout-gutter-l);
    }
}

/* ================================ max-width 900px ================================ */

@media screen and (max-width: 900px) {

    .projects {
        padding-inline: var(--layout-gutter-m);
    }
}

/* ================================ max-width 600px ================================ */

@media screen and (max-width: 600px) {
    .projects {
        padding-inline: var(--layout-gutter-xs);
    }
}