:root {

    /*Project 2 color palette (The Cookie Jar)*/
    --jazmin-color-project2:        rgba(255, 237, 131, 1);
    --amaranto-color-project2:      rgba(158, 0, 68, 1);

    --caedo--color-project2:        rgba(236, 208, 242, 1);
    --midnight-color-project2:      rgba(0, 72, 69, 1);

    --tea-color-project2:           rgba(216, 241, 204, 1);
    --chrysler-color-project2:      rgba(33, 27, 198, 1);
    
    --mint--color-project2:         rgba(201, 242, 235, 1);
    --mauveine-color-project2:      rgba(127, 11, 160, 1);
}