:root {

    /*Project 3 color palette (Taurino Digital Agency)*/
    --red-color-project3:           rgba(226, 0, 41, 1);
    --night-color-project3:         rgba(17, 17, 20, 1);
    --white-color-project3:         rgba(245, 247, 251, 1);
}